<p class="mt-5">sample works!</p>
<p>This is written inside <code>sample.component.html</code> and below this <code>&lt;p&gt;</code> tag is the <code>ng-content</code> (without <code>select</code> attribute)</p>

<hr />
<!-- Project general content here -->
<ng-content></ng-content>
<hr />

<p>The <code>ng-content</code> (without <code>select</code> attribute) is above this paragraph This is written inside <code>sample.component.html</code> and below this <code>&lt;p&gt;</code> tag are <code>ng-content</code>s with <code>select</code> attributes</p>

<div class="container m-2">
    <h3>First</h3>
    <div class="container mb-5">
        <p>Displayed via <code>ng-content</code> with <code>select</code> attr inside the <code>sample.component.html</code></p>
        <ng-content select=".first"></ng-content>
    </div>

    <h3>Second</h3>
    <div class="container mb-5">
        <p>Displayed via <code>ng-content</code> with <code>select</code> attr inside the <code>sample.component.html</code></p>
        <ng-content select=".second"></ng-content>
    </div>

    <h3>Third</h3>
    <div class="container mb-5">
        <p>Displayed via <code>ng-content</code> with <code>select</code> attr inside the <code>sample.component.html</code></p>
        <ng-content select=".third"></ng-content>
    </div>
</div>
