<mat-sidenav-container class="main mat-app-background" [ngClass]="{ 'dark-theme': isDark }">
    <!-- Sidenav -->
    <mat-sidenav #sidenav [opened]="(isHandset$ | async) === false" [mode]="(isHandset$ | async) ? 'over' : 'side'">
        <!--  -->
        <mat-toolbar style="background: inherit">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item class="active" (click)="toggleSidenav(sidenav)">
                <mat-icon>home</mat-icon>
                <span>List 1</span>
            </a>
            <a mat-list-item (click)="toggleSidenav(sidenav)">
                <mat-icon>image</mat-icon>
                <span>List 2</span>
            </a>
            <a mat-list-item (click)="toggleSidenav(sidenav)">
                <mat-icon>face</mat-icon>
                <span>List 3</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Toolbar -->
    <mat-toolbar class="main-toolbar mat-elevation-z4" color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <div class="spacer"></div>
        <button mat-icon-button (click)="toggleTheme()">
            <mat-icon>{{ isDark ? "light_mode" : "dark_mode" }} </mat-icon>
        </button>
    </mat-toolbar>

    <!-- Content -->
    <app-main-content></app-main-content>
</mat-sidenav-container>
