<div class="container">
    <h1 class="mt-3">Home Heading</h1>
    <p><button mat-raised-button color="primary" (click)="toggle()">Toggle Content</button></p>
    <p><button mat-stroked-button color="accent" (click)="isNgContainerDisplayed = !isNgContainerDisplayed">Toggle ng-container</button></p>

    <ng-container *ngIf="isNgContainerDisplayed; else lastResort">
        <p>This is inside <code>ng-container</code></p>
    </ng-container>
    <ng-template #lastResort>
        <p>This is inside <code>ng-template</code></p>
    </ng-template>

    <div class="container mt-3" [@listAnim]="items.length">
        <!-- trigger "@listAnim" is activated everytime it is set to true -->
        <div class="container" *ngIf="items">
            <div class="row">
                <div class="col-md-5" *ngFor="let item of items">
                    <h2>Sample Content</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque fuga inventore nisi quo explicabo iure! Similique dolorem, dolorum assumenda nam laudantium rerum! Optio veritatis voluptatem modi tempora, sint quasi excepturi.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore tempora aspernatur expedita laudantium dolorum, totam voluptas sint obcaecati inventore officia at deleniti eveniet, labore ullam doloribus repellendus nam! Nulla, debitis.</p>
                </div>
            </div>
        </div>
    </div>
</div>
