<h2 mat-dialog-title>Sample Dialog</h2>

<mat-dialog-content>
    <div class="container">
        <form [formGroup]="sampleForm">
            <p>
                <mat-form-field appearance="outline" [style.width.%]="100">
                    <mat-label>Title</mat-label>
                    <input formControlName="title" matInput type="text" placeholder="Title" />
                    <mat-hint>Any title you want</mat-hint>
                    <mat-error *ngIf="title.errors?.pattern">Must contain alphabet characters only</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" [style.width.%]="100">
                    <mat-label>Description</mat-label>
                    <textarea #description matInput formControlName="description" rows="10" maxlength="200"></textarea>
                    <mat-hint>{{ description.value.length }} / 200</mat-hint>
                </mat-form-field>
            </p>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>

    <!-- Alternative 1 -->
    <button #btnSubmit mat-raised-button color="primary" [mat-dialog-close]="sampleForm.value" [disabled]="sampleForm.invalid">Submit</button>

    <!-- Alternative 2 -->
    <!-- <button mat-raised-button color="primary" (click)="submitDialog()">Submit</button> -->
</mat-dialog-actions>
