<div class="container">
    <h1 class="mt-3">Example Heading</h1>
    <button mat-raised-button color="accent" (click)="showDialog()">Show Dialog</button>
</div>

<div class="container">
    <app-sample>
        <p>Content inside <code>&lt;app-sample&gt;&lt;/app-sample&gt;</code> but written inside <code>example.component.html</code></p>
        <div class="second">This is a content from <code>example.component.html</code> with a class of <code>.second</code> but declared as first <code>div</code></div>
        <div class="third">This is a content from <code>example.component.html</code> with a class of <code>.third</code> but declared as second <code>div</code></div>
        <div class="first">This is a content from <code>example.component.html</code> with a class of <code>.first</code> but declared as last <code>div</code></div>
    </app-sample>
</div>
