<div class="home-wrapper mat-app-background" [ngClass]="{ 'dark-theme': isDark }">
    <!-- Toolbar -->
    <mat-toolbar class="home-toolbar mat-elevation-z4" color="primary">
        <button mat-icon-button (click)="customToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Sidenav Mini</span>
        <div class="spacer"></div>
        <button mat-icon-button (click)="toggleTheme()">
            <mat-icon>{{ isDark ? "light_mode" : "dark_mode" }} </mat-icon>
        </button>
    </mat-toolbar>
    <mat-sidenav-container>
        <!-- Sidenav -->
        <mat-sidenav #sidenav [ngClass]="{ 'full-width': isFullWidth, 'mat-elevation-z1': (isHandset$ | async) === false }" [opened]="(isHandset$ | async) === false" [mode]="(isHandset$ | async) ? 'over' : 'side'" fixedInViewport>
            <!-- Toolbar as Spacing -->
            <mat-toolbar style="background: inherit"></mat-toolbar>
            <mat-nav-list>
                <!-- 
                    Reminder that this HomeComponent is already a Child route so..
                    absolute path is give "/home" instead of "home" since it will duplicate like "/home/home" 
                -->
                <a mat-list-item routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleSidenav(sidenav)">
                    <mat-icon>home</mat-icon>
                    <span *ngIf="isFullWidth">Home</span>
                </a>
                <a mat-list-item routerLink="card" routerLinkActive="active" (click)="toggleSidenav(sidenav)">
                    <mat-icon>image</mat-icon>
                    <span *ngIf="isFullWidth">Card</span>
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="example" routerLinkActive="active" (click)="toggleSidenav(sidenav)">
                    <mat-icon>face</mat-icon>
                    <span *ngIf="isFullWidth">Example</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <!-- Toolbar as Spacing -->
            <mat-toolbar></mat-toolbar>
            <!-- Content -->
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
